@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy (Work In Progress)";
}
<h1>@ViewData["Title"]</h1>

<p>Imagine a beautifully written privacy policy here.  There are plenty of resources available to generate a well structured document 
    with all necessary info using a simple questionnaire, so I figure this note is adequate for this exercise :)</p>
